.container{
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width:70%;
    height: 20rem;
    border: 1px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field {
    margin:1rem;
    width:80%;
    height: 3rem;
}

.field> input {
   height: 3rem;
   width: 100%;
   padding-left: 0.4rem;
   font-size: 1.2rem;
   border: 1px solid rgb(179, 179, 179);
   outline:none;
 
}
.error {
    color:red;
    font-size: 1rem;
    font-weight: 600;
}


.form > input {
    height: 3rem;
    width: 80%;
    cursor: pointer;
    font-weight: 700;
    background-color: #E782C2 ;
    border: none;
}

.form > input:hover{
    background-color: #d1c2cc ;
    border: none;
}

@media (max-width:550px) {
    .form {
        width:95%;
    }
    .container{
        height: 40rem;
    }
}