

.container{
     height: 100px;
     border-bottom: 1px solid yellow;
     display: flex;
     justify-content: space-between;
     padding: 0 2rem;
     align-items: center;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-weight:550 ;
     background-color: transparent;
    color:white;
     z-index: 30;
     width: 100vw;
     overflow-x: hidden;
     position: relative;
     background-color:#E782C2 ;
     
    
}

.leftNavBar{
 display: flex;
 align-items: center;
}


.middleNavbar{
   display: flex;
   align-items: center;
   flex:2;
   justify-content: center;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.listItem{
   cursor: pointer;

   padding:0.2rem ;
   border-radius: 10px;
}

.listItem > a {
    text-decoration: none;
    color: white;
}

.listItem:hover{
    border:2px solid white ;
}
.rightNavbar{
    display: flex;
    
}



.telImage{
  width: 3rem;
  height:auto;
  margin-right: 0.5rem;
  cursor: pointer;
  color: black;
  transition: 1s all ease;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}
.telImage:hover{
    transform: scale(1.2);
}


.telDetails{
  cursor: pointer;
}

.telDetails > p{
  transition: 1s ease;
}
.telDetails > p:hover{
    transform: scale(1.1);
}


.logoContainer{
    width:clamp(10rem, 40%, 13rem);
   height: auto;

}
.cartCount{
    color:black;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
    padding: 0.3rem;
    height: 1.5rem;
    width:1.5rem;
    font-size: 1rem;
    position:absolute;
    top:-10px;
    right: -10px;

}
.rightIcon{
    position: relative;
    color:white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 1s all ease-in-out;
    margin: 1rem;
}
.cartcontainer:hover{
    transform: scale(1.3);
}
.hambugger{
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    display: none;
    color:white;
}



@media (max-width:800px) {
    .listItem{
        display: none;
    }
    .telDetails{
        display: none;
    }
    .hambugger{
        display: flex;
    }
}

