.container{
  
}

.navSpace {
    height: 100px;
    background-color:#E782C2;
}

.product{
  display: flex;
  min-height: 80vh;
  margin:2rem;
  
}
.productsImg{
    position: relative;
    flex:1;
    width: 90%;
    min-height: 80vh;
  
 
 
  
}


.productDetails{
    flex:1;
}

.productDetails > h1 {
   margin: 1rem 1rem 3rem 1rem;
   margin-left: 2rem;

}

.productDetails> hr {
    margin: 1rem;
    margin-left: 2rem;
    width: 70%;
    height: 0.4rem;
    background-color: #E782C2;
}

.productDetails > h3 {
    margin: 1rem;
    margin-left: 2rem;
}

.productDetails > h3 > span {
    font-weight: 900;
    font-size: 1.2rem;
}

.productDetails > p {
    margin: 2rem 2rem 2rem 2rem;
    width: 85%;
    font-size: 1.2rem;
}

.size{
    margin: 2rem;
    display: flex;
    width: 100%;
}

.size > input[type="radio"]{
    display: none;
}

.size > label{
    padding:0.7rem;
    border: 1px solid rgb(124, 113, 113);
    margin:0.4rem  0.4rem 0.4rem 0;
    position: relative;
    width: 31%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  
    
}
.size > label:after {
    content: "";
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    
}

.size> input[type="radio"]:checked  + label {
    background-color:#e782c2b4 ;
}

.size> input[type="radio"]:checked  + label:after {
    background-color:black ;
    border: 3px solid white;
}



.CTAContainer{
  
     display: flex;
     width: 100%;
     justify-content: flex-start;
     margin-left: 2rem;
     margin-top: 1rem;
}

.CTAContainer > input {
    width: 13%;
      height: auto;
      font-size: 1.3rem;
      padding-left:0.3rem;
}

.CTAContainer > button{
    width: 30%;
    padding: 0.85rem;
    background-color: #E782C2;
    border: none;
    cursor: pointer;
    font-weight: 600;
    
}

.CTAContainer > button:hover{
    background-color: #e782c2a1;
}

.variant > p{
     color:red;
     text-align: center;
     font-size: 1rem;
     margin: 0;
     padding:0;
}
.confirmATD{
   margin: 0;
   padding: 0.4rem;
   position: fixed;
   top:10rem;
   right: 0;
   background-color: #E782C2;
   width: 30vw;
   color:white;
   border-radius: 5px;
   animation-name: blink;
   animation-duration: 1s;
}

@keyframes blink {
   from {
        margin-left: 100%;
        width: 100%;
        background-color:#aaaaaa;
        color:black
    }
    75% {
        background-color:white;
        color:#E782C2 ;
        margin-left: 25%;
        width:80%;
    }
    to{
        background-color: #E782C2;
        color:white;
        margin-left:0;
        width: 70%
    }
}


@media (max-width:700px) {
    .product{
        flex-direction: column;
        margin: 2rem;
    }
    .productDetails{
        text-align: center;
        margin-bottom: 2rem;
    }
    .CTAContainer{
        justify-content: center;
        margin-left: 0;
    }
    .productDetails> h1{
        margin-left: auto;
    }
    .productDetails> hr{
        width: 100%;
       
        margin-left: auto;
    }
    .productDetails > p{
        width: 100%;
        margin-left: auto;
        font-size: 1rem;
    }
    .size{
        margin: 0;
    }
    .CTAContainer > input{
       flex: 1;
    }
    .CTAContainer > button {
        flex: 1.5;
    }
    .productsImg{
        min-height: 20rem;
        width: 90%;
        margin: auto;
    }
    .confirmATD{
        width: 70vw;
        top:5rem;
    }
}

@media (max-width:400px) {
    .size > label{
        padding: 0.3rem;
    }
}