.container{
    height:calc(100vh - 100px);
  
    overflow-x: hidden;
    background-color: #E782C2;
  
  
}
.bannerWrapper{
    width: 600vw;
    height: 100%;
    display: flex;
    transition:all 1.5s ease-in-out;
}

.imgContainer{
     height:100%;
    width: 100vw;
    position: relative; 
  
   
}


.arrow{
    z-index:5;
    color:white;
    height: 6%;
    width: 6%;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

}

.arrow:hover{
    transform: scale(1.1);
}



@media (max-width:600px) {
    .container{
        height: 30rem;
    }
}